body {
    background-color: rgb(241, 14, 14);
    color: white;
    font-family: cursive;
}

* {
    padding: 0;
    margin: 0;
}

form {
    position: relative;
    padding-left: 50px;
}

input {
    width: 200px;
}

.nav {
    text-align: right;
}

.nav a:hover {
    background-color: white;
    border-radius: 3px;
    color: red;
}

a {
    text-align: right;
    color: white;
    align-items: center;
    padding: 20px;
    font-family: cursive;
}