<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ahlem global</title>
    <link rel="stylesheet" href="../static/index.css">
</head>

<body>
    <div class="nav">
        <a href="/" class="active">Home</a>
        <a href="/add">Buy books here</a>
        <a href="/items">books</a>
    </div>
    <div class="h2">
        <h2>Welcome To Ahlem Global <br> Online Book Shop
            <br><br><br><br>

    </div>
    <div class="img">
        <img src="../static/img/h.jpg" id="img" width="600px" height="300px">
    </div>
</body>

</html>